.title {
  color: orange;
   font-size: 24px;
   font-weight: bold;
   text-align: center;
 }

.Square {
   width: 80px;
   height: 80px;
  }

.Circle {
   width: 80px;
   height: 80px;
   border-radius: 50%;
  }

  .Triangle {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid;
  }

  .Rectangle {
    width: 80px;
    height: 40px;
  }

  .Art {
    width: 150px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }